*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    place-content: center;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid palevioletred;
}

.grid-square {
    /* border: 1px solid teal; */
}