*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: rgb(253, 225, 204);
}

footer {
    text-align: center;
    margin: 0;
    padding-bottom: 0.5em;
    font-size: 0.9rem;
    color: #7d7b7b;
}

h1 {
    margin: 0;
    padding-top: 0.5em;
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
    text-align: center;
    color: rgb(244, 25, 25);
}

h2 {
    text-align: center;
    margin-top: 2em;
}

main {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

.container {
    display: flex;
    padding-bottom: 2em;
}

.grid-container {
    display: grid;
    place-content: center;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid grey;
    box-shadow: 1px 1px;
    background-color: #e1dede;
}

.grid-size {
    text-align: center;
}

.canvas {
    margin-right: 2em;
}

.inputs {
    margin-left: 2em;
}

button {
    font-family: inherit;
    padding: 1em 3em;
    font-size: 1em;
}

.size-slider {
    text-align: center;
}
